<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 读取项目配置 -->
	<context:property-placeholder location="classpath:config/resource.properties" />

	<!-- 配置controller扫描 -->
	<context:component-scan base-package="cn.e3mall.item.controller"></context:component-scan>

	<!-- springmvc三大件 -->
	<!-- 配置处理器映射器和处理器适配器 ,使用注解驱动方式 -->
	<mvc:annotation-driven />
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 对静态资源放行 目录 /js/ 访问路径/js/** 看前端控制器的拦截路径.html,静态资源可以访问 -->

	<!-- 配置freemarker -->
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/ftl/" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<!-- 引用dubbo服务 -->
	<dubbo:application name="e3-item-web" />
	<dubbo:registry protocol="zookeeper" address="192.168.217.129:2181" />
	<dubbo:reference interface="cn.e3mall.service.ItemService" id="itemService" />

</beans>